.information {
  background-color: #f4f4f4;

  color: #002147;
}
.info-heading {
  color: #002147;
}
.text-color {
  color: #002147;
}
.info-text {
  border-right: 2px solid rgb(221, 217, 217);
}
@media screen and (max-width: 800px) {
  .info-text {
    border-right: none;
  }
}
